.content-container {
    display: flex; 
    margin: 0 auto; 
    width: 60%;
    justify-content: space-between;
    align-items: center;
}

.list-container {
    display: flex;
    justify-content: flex-start;
    margin: 40px 50px; 

    .item {
        cursor: pointer;
        margin-bottom: 10px;
        &-active {
            background-color: grey;
        }
    }

    img {
        height: 50px;
        border-radius: 50px;
    }



}


